<div class="container-fluid background-img-signin" data-ng-controller="AuthenticationController">
	<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="intro-group">
						<img class="logo" src="/modules/users/img/lisztfm-logo.png">
						<div class="intro-text"> Collaborate, maintain, share, and make discoveries from your Spotify playlists </div>
						<a href="/auth/spotify"> <img class="login" src="/modules/users/img/log_in-desktop-large.png"> </a>
						<div class="intro-text"> Created with love (and a bit of lisztomania) by <a href="http://www.github.com/jtabone16" target="_blank">John Tabone </a> </div>
				</div>

			</div>
		</div>
  </div>
