/* Typeography */
* {
  font-family: Raleway;
  color: #fff;
}

/* Navbar CSS */

.logo {
	width: 70%;
	height: 70%;
}

.navbar-default {
	background: rgba(0, 0, 0, 0.4) !important;
}

.navbar-header {
  text-align: center;

}

.navbar-default .navbar-nav > li > a {
  border-top: 5px solid #fff;
	color: #fff;
}

.navbar-default .navbar-nav > li > a.active {
  border-top:5px solid #2d6;
	color: #2d6;
}

.navbar-default .navbar-nav > li > a.logout {
  color: #FFFFFF;

}

#page-header-mobile {

  letter-spacing: 3px;
  font-weight: 100;
  position: relative;
  top: 15px;
  right: 7px;
  text-transform: uppercase;
}

.logout-btn-container {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  text-align: center;

}

.logout-btn {
  text-transform: uppercase;
  background-color: #001820;
  color: #FFFFFF;
  padding: 10px;
  font-weight: 500;
  border-radius: 7px;
}

.logout-btn:hover {
  color: #00D0CA;
}



@media screen and (min-width : 500px) {

  .logout-btn-container{
    margin-top: 150px;
  }

}

/* =========================================

Partner sign up page

========================================= */
.partners-content {
  min-height: 800px;
  background-image: url("../../core/img/architecture.png");
  background-size: cover;
  background-position: center;
}

.partners-container {
  margin-top: 90px;
}

.partners-title {
  text-align: center;
  font-size: x-large;
  font-weight: 200;
  margin-bottom: 25px;
  margin-top: 25px;
  color: #FFFFFF;
}



/* ==========================================

Mobile Screen Breakpoints

============================================= */

@media screen and (min-width : 768px) {      /*  Small Devices  - smart phones & up */

  .navbar .navbar-nav {
    display: inline-block;
    float: none;

  }
  .navbar .navbar-collapse {
    text-align: center;

  }
  .navbar-default .navbar-nav > li > a:hover {
    border-top: 5px solid #2d6;                  /* I think I might be looking for an opacity effect or fade in effect*/
    color: #FFFFFF;
    -webkit-transition: border-top 0.3s linear;
    -moz-transition: border-top 0.3s linear;
    -ms-transition: border-top 0.3s linear;
    -o-transition: border-top 0.3s linear;

    -webkit-transition-delay: 0.1ms;
    -moz-transition-delay: 0.1ms;
    -o-transition-delay: 0.1ms;
  }

    .navbar-default .navbar-nav > li > a.logout:hover {
    border-top: 5px solid #E52217;                  /* I think I might be looking for an opacity effect or fade in effect*/
    color: #FFFFFF;
    -webkit-transition: border-top 0.3s linear;
    -moz-transition: border-top 0.3s linear;
    -ms-transition: border-top 0.3s linear;
    -o-transition: border-top 0.3s linear;

    -webkit-transition-delay: 0.1ms;
    -moz-transition-delay: 0.1ms;
    -o-transition-delay: 0.1ms;
  }


  #page-header {
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .logout-btn-container {
    width: auto;
    /*position:fixed;
    bottom: 0;*/
    left: 20px;
  }


}

@media screen and (min-width : 992px) {      /*  Medium Devices - desktops & up */

}

@media screen and (min-width : 1200px) {      /*  Large displays - & up */

}

/* =============================

Badges styling

============================= */
.badges-container {
  width: 50%;
  margin: auto;
  height:200px;
  margin-top: 30px;
}

@media screen and (max-width : 768px) {
  .badges-container {
    width: 90%;
  }
}

@media screen and (max-width: 950px) {
  .badges-container {
    width: 75%;
  }
}

.badge-box {
  width: 20%;
  float: left;
}

.badge-icon {
  background-color: rgba(0, 177, 172, 0.1);
  margin: 10px 1px;
}
.badge-icon img {
  max-width:100%;
  max-height:100%;
  opacity: 0.1;
  filter: alpha(opacity=10);
}
.badge-icon.active {
  background-color: #00B1AC;
}
.badge-icon.active img {
  opacity: 1;
  filter: alpha(opacity=100);
}

/*Alertify*/

.alertify-log {
  background: #1F1F1F;
  background: rgba(0,0,0,.9);
  padding: 15px;
  font-family:Raleway;
  color: #000;
  text-shadow: none;
}

.alertify-log-error {
  background: #DA1100;
  background: rgba(218,17,0,.7);
}
.alertify-log-success {
  background: #00d0ca;
  background: rgba(0,188,185,.7);
}

/*Misc.*/
body {
  /*padding-bottom:0px;*/
  /*background-image:url('http://i.imgur.com/VnDzLl1.jpg');
  background-size:cover;*/
}

.container {
  /*background:rgba(255,255,255,.6);*/
  padding:30px 0 30px 0;
}

.col-sm-offset-3 {
    background:rgba(0,0,0,0);
}

.navbar-default {
  border:none;
  border-radius:0;
}

.notification-badge {
  position:absolute;
  top:-7px;
  right:0;
  position:relative;
  height:20px;
  width:20px;
  border-radius:40%;
  background:red;
  text-align:center;
  display:inline-block;
  margin-left:7px;
}

.notification-number {
  /*position:absolute;
  top:-2px;
  right:7px;*/
}

#overview {
  display:inline;
}

.footer {
  margin-top:50px;
  background:#001820;
  color:white;
}

.footer a {
  padding:5px 7px 5px 7px;
}

.footer a:hover, .footer a:active, .footer a:focus {
  border-bottom:3px solid #00d0ca;
}
