.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.navbar {
	background: #2d6;
	border: 0;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
}

.navbar-header {
    float: left;
    padding: 0;
    text-align: center;
    width: 100%;
}

.navbar-brand {
	color: #fff !important;
	float: none;
}
