
.background-img-signin {
	min-height: 800px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0.3) !important;
}

/*.background-img-signin.desaturate {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}*/


/*See http://stackoverflow.com/questions/23768152/using-container-fluid-within-bootstrap-cause-horizontal-scrollbar*/
body {
   overflow-x: hidden;
}

.intro-group {
	margin-top: 25%;
	padding: 10%;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border: #2d6 3px solid;
	border-radius: 6px;
}

.intro-text {
	text-align: center;
	font-size: 1.0em;
	padding: 2%;
	color: #fff;
	margin-top: 3%;
	word-wrap: break-word;
}

.intro-text a{
	text-align: center;
	font-size: 1.0em;
	font-weight: bold;
	color: #2d6;
	margin-top: 3%;
	word-wrap: break-word;
}


.login {
	margin-top: 5%;
	margin-left: 25%;
}

.logo {
	display:block;
  margin:auto;
}

/*Profile Page*/
.profile-area{
	border: 2px #2d6 solid;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.3) !important;
}

.avatar{
	border-radius: 30px;
	margin: 4%;
	width: 20%;
	height: 20%:

}

.username {
	font-size: 1.5em;
	padding: 4%;
	padding-bottom: 0;
}


/* ==========================================

Mobile Screen Breakpoints

============================================= */

@media screen and (min-width : 768px) {      /*  Small Devices  - smart phones & up */

}

@media screen and (min-width : 992px) {      /*  Medium Devices - desktops & up */

}

@media screen and (min-width : 1200px) {      /*  Large displays - & up */

}
