.background-main {
	background-color: #4e514f !important;
}


td { break-word: word-wrap; }

.st-selected{
  background: #2d6 !important;
  color: #fff;
}

a {
    text-decoration: none !important;
    color: #000;
}

tr.table-menu:hover {
  color: #fff;
  background: #2d6 !important;
}

.playlist_table {
	height: 300px;
	width: 40%;
	margin: 5%;
	margin-bottom: 5%;
	border: 2px #2d6 solid;
	border-radius: 2%;
	padding:1%;
	overflow: auto;
	background: rgba(0, 0, 0, 0.3) !important;
}

.playlist_table_smart {
	height: 300px;
	border: 2px #2d6 solid;
	border-radius: 2%;
	padding:1%;
	overflow-x: scroll;
	background: rgba(0, 0, 0, 0.3) !important;
}



.track-menu-option {
  cursor: pointer;
}

.track-menu-option.save-changes {
  text-align: center;
  margin-top: 2%;
  /*margin-left: 22%;*/
  padding: 3%;
  cursor: none;  /* NOTE: May want a different cursor option here */
}

.pending_deletion {
  color: #2d6;
}

.delete_button {
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 100%;
  color: #fff;
  background: #2d6;
  position: relative;
}

.delete_button:hover {
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.3) !important;
  border-top: 2px #2d6 solid;
}

.history {
  border: 2px #2d6 solid;
  border-radius: 2%;
	overflow-x: scroll;
	margin-top: 5%;
	margin-bottom: 5%;
	background: rgba(0, 0, 0, 0.3) !important;
}

.history .playlist_name {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
}


.history .track_name {
  font-size: 1.0em;
  padding: 3%;
}


.playlist_edit {
  border: 2px #2d6 solid;
  border-radius: 2%;
	overflow-x: scroll;
	margin-bottom: 5%;
	background: rgba(0, 0, 0, 0.7) !important;
}

.playlist_edit .playlist_name {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
}


.playlist_edit .track_name {
  font-size: 1.0em;
  padding: 3%;
}

.collab_tag {
  color: #fff;
  background: #2d6;
  border-radius: 5%;
  padding: 1%;
  font-size: 0.8em;
  float:right;
}

.sticky_row {
	z-index: 1;
	margin-top: 0;
}
