.form-control.playlist-search{
	background: rgba(0, 0, 0, 0.3) !important;
	color: #2d6;
	margin-bottom: 5%;
	margin-top: 3%;
	border: 1px #2d6 solid;
	border-radius: 3%;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(34,221,102, 0.6);
	text-transform: lowercase;
}

.table-title {
	width: 30%;
	height: 12%;
	text-align: center;
	color: #2d6;
	padding: 2%;
	text-transform: lowercase;
	font-size: 1.4em;
	border: 1px #2d6 solid;
	border-radius: 30px;
	background: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(34,221,102, 0.5);
	border-left: 50%;
	margin-left: 35%;
	margin-bottom: 3%;
	margin-top: 1%;
}

.playlist-header i{
	color: #2d6;
	font-size: 1.0em;
	float: left;
	padding-right: 5%;
	cursor: pointer;
}

.playlist-header .table-header{
	color: #2d6;
	font-size: 1.0em;
	float: none;
	cursor: pointer;
}

.playlist-header .glyphicon:hover, .playlist-header .table-header:hover{
	text-shadow: 0px -3px 20px rgba(34, 221, 102, 0.7);
}

.background-main {
	background-color: #4e514f !important;
}

.dropdown-toggle {
	background: rgba(0, 0, 0, 0.3) !important;
	color: #2d6;
	border: 2px #2d6 solid;
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
	background: rgba(0, 0, 0, 0.3) !important;
	color: #2d6;
	border: 2px #2d6 solid;
}


.dropdown-menu {
	background: rgba(0, 0, 0, 0.3) !important;
}

.dropdown-menu li a {
	color: #2d6 !important;
}

.dropdown-menu li a:hover {
	background: rgba(0, 0, 0, 0.7) !important;
	color: #2d6 !important;
	cursor: pointer;
}

td {
	 break-word: word-wrap;
 }

 th {
	 border-bottom: 1px #2d6 solid !important;
 }

 td {
	 border-bottom: 1px #2d6 solid !important;
	 border-top: 1px #2d6 solid !important;
 }


.st-selected{
  background: #2d6 !important;
  color: #fff;
	border: 2px #2d6 solid;
	border-radius: 3%;
}

a {
    text-decoration: none !important;
    color: #000;
}

tr.table-menu:hover {
  color: #fff;
  background: #2d6 !important;
	border: 2px #2d6 solid;
	border-radius: 3%;
}

.playlist_table_smart {
	height: 500px;
	/*border: 2px #2d6 solid;*/
	border-radius: 2%;
	padding:1%;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.3) !important;
}

tr.table-menu:nth-child(even) {
  background: rgba(0, 0, 0, 0.1) !important;
}

.playlist_table_smart::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3%;
}
.playlist_table_smart::-webkit-scrollbar-thumb {
    border-radius: 4px;
		border: 2px #2d6 ridge;
    background-color: rgba(0,0,0,.4);
}

.track-menu-option {
  cursor: pointer;
}

.track-menu-option.save-changes {
  text-align: center;
  margin-top: 2%;
  /*margin-left: 22%;*/
  padding: 3%;
  cursor: none;  /* NOTE: May want a different cursor option here */
}

.pending_deletion {
  color: #2d6;
}

.delete_button {
	border: 0px;
  border-top: 1px #2d6 solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
  width: 100%;
  color: #fff;
  background: #2d6;
  position: relative;
}

.delete_button:hover {
  border: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.3) !important;
  border-top: 2px #2d6 solid;
}

.history {
	height: 150px;
  border: 2px #2d6 solid;
  border-radius: 2%;
	overflow-y: scroll;
	margin-top: 5%;
	margin-bottom: 10%;
	background: rgba(0, 0, 0, 0.3) !important;
}

.history::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4%;
}
.history::-webkit-scrollbar-thumb {
    border-radius: 4px;
		border: 2px #2d6 ridge;
    background-color: rgba(0,0,0,.4);
}

.history .playlist_name {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
}


.history .track_name {
  font-size: 1.0em;
  padding: 3%;
}


.playlist_edit {
	height: 150px;
  border: 2px #2d6 solid;
  border-radius: 2%;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.3) !important;
}

.playlist_edit .playlist_name {
  font-size: 1.2em;
  font-weight: bold;
  padding: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
}


.playlist_edit .track_name {
  font-size: 1.0em;
  padding: 2%;
}

.playlist_edit::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4%;
}
.playlist_edit::-webkit-scrollbar-thumb {
    border-radius: 4px;
		border: 2px #2d6 ridge;
    background-color: rgba(0,0,0,.4);
}

.collab_tag {
  color: #fff;
  background: #2d6;
  border-radius: 5%;
  padding: 1%;
  font-size: 0.8em;
  float:right;
}

.sticky_row {
	z-index: 1;
	margin-top: 0;
}


::-webkit-input-placeholder {
   color: white !important;
	 font-size: 0.8em;
}

:-moz-placeholder { /* Firefox 18- */
   color: white !important;
	 font-size: 0.8em;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white !important;
	 font-size: 0.8em;
}

:-ms-input-placeholder {
   color: white !important;
	 font-size: 0.8em;
}
