<div class="ng-cloak container-fluid" data-ng-controller="PlaylistsController">
  <div class="row">
    <div class='col-xs-3' ng-show="currentTrack !== ''">
      <iframe ng-src="{{currentTrack}}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <div class="col-xs-6 col-xs-offset-1">
      <h4>Search playlists you own <span tooltip="Spotify's web API limits collaborative playlist edits to playlist owners :(" tooltip-trigger tooltip-placement="right" style="color:#2d6;">(and can edit):</span></h4>
      <input type="text" ng-model="selected_playlist" typeahead="playlist.name for playlist in playlists | filter:$viewValue | filter:isOwned" typeahead-on-select="onSelect($item, $model, $label)" class="form-control playlist-search">
    </div>
    <!-- <div class="col-xs-6">
      <h4>Search playlists you follow:</h4>
      <input type="text" ng-model="selected_playlist" typeahead="playlist.name for playlist in playlists | filter:$viewValue | filter:follows | limitTo:8" class="form-control playlist-search">
    </div> -->
  </div>


  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="playlist_edit" ng-show="tracksToDelete.length > 0">
        <div class="playlist_name"> Removing {{tracksToDelete.length}} tracks: </div>
        <div ng-repeat="track in tracksToDelete">
          <div class="track_name"> <span style="font-weight:bold;">{{track.title}}</span> by {{track.artist}}</div>
        </div>
        <button type="button" class="delete_button btn btn-default" ng-model="deleteTracks" ng-click="deleteTracksNow()"btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            Delete Tracks
        </button>
      </div>
    </div>

    <!-- <div class="row" style="margin-bottom: 5%;">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="input-group">
          <div class="input-group-btn">
            <span class="dropdown">
            <button type="button" class="btn dropdown-toggle" ng-disabled="disabled" href="" ng-model="search_type"> {{search_type}}<span class="caret"></span></button>
            <ul class="dropdown-menu" dropdown-menu>
              <li><a role="menuitem" ng-click="search_type = 'track'">track</a></li>
              <li><a role="menuitem" ng-click="search_type = 'album'">album</a></li>
              <li><a role="menuitem" ng-click="search_type = 'artist'">artist</a></li>
            </ul>
          </span>
          </div>
          <input ng-model="search_subject" ng-keypress="getSearchResults($event)" type="text" class="form-control" aria-label="...">
        </div>
      </div>
    </div> -->
  </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="history" ng-show="currentPlaylist.snapshots.length > 0">
          <div class="playlist_name"> Playlist History </div>
          <div ng-repeat="snap in currentPlaylist.snapshots">
            <div class="track_name"> <span style="font-weight:500; color:#2d6;">{{snap.created | date:'shortDate'}}</span> {{snap.note}}</div>
          </div>
        </div>
      </div>
      <div ng-show="currentPlaylist !== ''" class="col-xs-9 playlist_table_smart">
        <!-- init sound manager! -->
        <sound-manager></sound-manager>
        <table st-safe-src="tracks" st-table="displayedTracks" class="table table-hover">
          <div class="table-title">{{currentPlaylist.name}} </div>
          <thead>
            <tr>
              <th></th>
              <th class="playlist-header" st-sort="name">
                <i class="glyphicon glyphicon-sort"> </i>
                <div class="table-header">song</div>
              </th>
              <th class="playlist-header" st-sort="artist">
                <i class="glyphicon glyphicon-sort"> </i>
                <div class="table-header">artist</div>
              </th>
              <th class="playlist-header" st-sort="added_by">
                <i class="glyphicon glyphicon-sort"> </i>
                <div class="table-header">user</div>
              </th>
              <th class="playlist-header" st-sort-default="reverse" st-sort="added">
                <i class="glyphicon glyphicon-sort"> </i>
                <div class="table-header">added</div>
              </th>
            </tr>
            <tr>
              <th colspan="2"><input st-search=" " class="form-control playlist-search" placeholder="search for any field" type="text"/></th>
            </tr>
          </thead>
          <tbody>
            <tr st-select-row="track" ng-repeat="track in displayedTracks" ng-click="trackSelected(track)" class="table-menu">
              <td>
                <i class="track-menu-option glyphicon glyphicon-play" music-player="play" add-song="track"></i>
                <i class="track-menu-option glyphicon glyphicon-pause" pause-music></i>
                <i class="track-menu-option glyphicon glyphicon-trash" ng-click="removeTrack(track)"> </i>
                <!-- <i class="track-menu-option glyphicon glyphicon-comment"> </i> -->
                <!-- <i class="track-menu-option flaticonNormal" ng-click="changeRating(track)" ng-class="{flaticonBad: track.rating == 0, flaticonNormal: track.rating == 1, flaticonGreat: track.rating == 2}"></i> -->
                <!-- <i class="track-menu-option save-changes glyphicon glyphicon-remove" ng-class="{'pending_deletion': track.edited}"></i> -->
              </td>
              <td>{{track.title}}</td>
              <td>{{track.artist}}</td>
              <td>{{track.added_by}}</td>
              <td>{{track.added | date:'shortDate'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
