<div class="container-fluid" data-ng-controller="PlaylistsController">
  <div class="row">
    <div class="col-xs-6" style="height: 300px; border:0; padding:1%; margin: 0; margin-top:2%; overflow: auto">
      <table ng-show="playlistsReady" class="table table-striped table-hover" style="">
        <thead>
          <tr>
            <th>Playlists Owned by {{currentUser}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="plist in playlists" ng-if="plist.owner.id == currentUser" class="table-menu">
            <td ng-click="getCurrentPlaylist(plist)">
              {{plist.name}}
              <span ng-show="plist.collaborative == true" class="collab_tag"> Collab </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-6" style="height:300px; border: 0; padding:1%; margin: 0; margin-top:2%; overflow: auto">
      <table ng-show="playlistsReady" class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Playlists Followed by {{currentUser}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="plist in playlists" ng-if="plist.owner.id !== currentUser" class="table-menu">
            <td ng-click="getCurrentPlaylist(plist)">
              {{plist.name}}
              <span ng-show="plist.collaborative == true" class="collab_tag"> Collab </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3" style="margin-right: 5%; margin-top: 10%; ">
			<div class="removing" ng-show="currentPlaylist.snapshots.length > 0">
				<div class="playlist_name"> Playlist History </div>
				<div ng-repeat="snap in currentPlaylist.snapshots">
					<div class="track_name"> <span style="font-weight:bold;">{{snap.created}}</span> by {{snap.note}}</div>
				</div>
			</div>
    </div>

    <div class="col-xs-5" style=" border:0; padding:1%; margin: 0; margin-top:2%;">
      <!-- init sound manager! -->
      <sound-manager></sound-manager>
      <table ng-show="tracksReady" st-safe-src="tracks" st-table="displayedTracks" class="table table-striped table-hover">
        <p>{{currentPlaylist.name}} </p>
        <thead>
          <tr>
            <th>Actions <span style="color:#2d6"> * </span></th>
            <th st-sort="name">Song</th>
            <th st-sort="artist">Artist</th>
            <th st-sort="added_by">Added by</th>
            <th st-sort-default="reverse" st-sort="added">Added at</th>
          </tr>
          <tr>
            <th colspan="4"><input st-search=" " class="form-control" placeholder="Search any playlist field, click column title to sort" type="text"/></th>
          </tr>
        </thead>
        <tbody>
          <tr st-select-row="track" ng-repeat="track in displayedTracks" ng-click="trackSelected(track)" class="table-menu">
            <td>
              <i class="track-menu-option glyphicon glyphicon-play" music-player="play" add-song="track"></i>
              <i class="track-menu-option glyphicon glyphicon-pause" pause-music></i>
              <i class="track-menu-option glyphicon glyphicon-trash" ng-click="removeTrack(track)"> </i>
              <!-- <i class="track-menu-option glyphicon glyphicon-comment"> </i> -->
							<a class="track-menu-option glyphicon glyphicon-music" href="{{track.external_url}}" target="_blank"></a>
              <!-- <i class="track-menu-option flaticonNormal" ng-click="changeRating(track)" ng-class="{flaticonBad: track.rating == 0, flaticonNormal: track.rating == 1, flaticonGreat: track.rating == 2}"></i> -->
              <!-- <i class="track-menu-option save-changes glyphicon glyphicon-remove" ng-class="{'pending_deletion': track.edited}"></i> -->
            </td>
            <td>{{track.title}}</td>
            <td>{{track.artist}}</td>
            <td>{{track.added_by}}</td>
            <td>{{track.added | date:'shortDate'}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="text-center">
              <div st-pagination="" st-items-by-page="20"></div>
            </td>
          </tr>
        </tfoot>
      </table>

    </div>

    <div class="col-xs-3" style="margin-left: 5%; margin-top: 10%; ">
      <div class="removing" ng-show="tracksToDelete.length > 0">
        <div class="playlist_name"> Removing {{tracksToDelete.length}} tracks: </div>
        <div ng-repeat="track in tracksToDelete">
          <div class="track_name"> <span style="font-weight:bold;">{{track.title}}</span> by {{track.artist}}</div>
        </div>
        <button type="button" class="delete_button btn btn-default" ng-model="deleteTracks" ng-click="deleteTracksNow()"btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
            Delete Tracks
        </button>
      </div>

    </div>
  </div>


</div>
