<div class="ng-cloak container-fluid" data-ng-controller="PlaylistsController">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-5">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-12">
              <h4>search playlists you own</h4>
              <input focus="true" type="text" ng-model="selected_playlist" typeahead="playlist.name for playlist in playlists | filter:$viewValue | filter:isOwned" typeahead-on-select="onSelect($item, $model, $label)" class="form-control playlist-search">
            </div>
            <div class="col-xs-12" ng-show="tracksReady">
              <h4>search + add tracks</h4>
              <input type="text" ng-model="asyncTrack_to_add" typeahead="track.name for track in getSearchResults($viewValue)" typeahead-on-select="addTrack($item, $model, $label)" class="form-control playlist-search">
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6 playlist-list">
        <h4>playlists owned by {{currentUser.username}}</h4>
        <table class="table table-striped table-hover">
          <tbody>
            <tr ng-repeat="plist in playlists" ng-if="plist.owner.id == currentUser.username" class="table-menu">
              <td ng-click="getCurrentPlaylist(plist)">
                {{plist.name}}
                <span ng-show="plist.collaborative == true" class="collab_tag"> Collab </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-xs-1" style="text-align: center;">
        <div class="row">
          <div class="col-xs-12">
            <span ng-mouseover="showCreateField = !showCreateField" class="glyphicon glyphicon-plus create-playlist"> </span>
          </div>

          <div class="row">
            <div class="col-xs-12" ng-show="showCreateField">
              <input tooltip="Enter playlist name here!" tooltip-trigger tooltip-placement="bottom" type="text" ng-model="newPlaylistName" class="form-control create-playlist-field" ng-keyup="createPlaylist($event, newPlaylistName)">  </input>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-6">
      <h4>Search playlists you follow:</h4>
      <input type="text" ng-model="selected_playlist" typeahead="playlist.name for playlist in playlists | filter:$viewValue | filter:follows | limitTo:8" class="form-control playlist-search">
    </div> -->
  </div>

    <div class="row">
      <div class="col-xs-3">
        <div class="row">

          <div class="col-xs-12">
            <div class="history" ng-show="currentPlaylist.snapshots.length > 0">
              <div class="playlist_name"> Playlist History </div>
              <div ng-repeat="snap in currentPlaylist.snapshots">
                <div ng-click="revert(snap)" class="track_name"> <span style="font-weight:500; color:#2d6;">{{snap.created | date:'shortDate'}}</span> {{snap.note}}</div>
              </div>
            </div>
          </div>

          <div class="col-xs-12" ng-show="tracksToDelete.length > 0 || tracksToAdd.length > 0">
            <div class="playlist_edit">
                <div class="row">
                  <div class="col-xs-6">
                    <button class="queue-select-button" ng-class="{'queue-select-button-active': queueSelected === 'removing'}" ng-click="queueSelected = 'removing'">Removing</button>
                  </div>
                  <div class="col-xs-6">
                    <button class="queue-select-button" ng-class="{'queue-select-button-active': queueSelected === 'adding'}" ng-click="queueSelected = 'adding'">Adding</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12" ng-show="queueSelected === 'removing' && tracksToDelete.length > 0">
                    <div ng-repeat="track in tracksToDelete">
                      <div class="track_name" ng-click="dequeue(track, 'remove')"> <span style="font-weight:bold;">{{track.title}}</span> <span>by {{track.artist}}</span></div>
                    </div>
                  </div>
                  <div class="col-xs-12" ng-show="queueSelected === 'adding' && tracksToAdd.length > 0">
                    <div ng-repeat="track in tracksToAdd">
                      <div class="track_name" ng-click="dequeue(track, 'add')"> <span style="font-weight:bold;">{{track.title}}</span> <span>by {{track.artist}}</span></div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-xs-12">
            <button type="button" class="edit_button btn btn-default" ng-show="queueSelected === 'removing' && tracksToDelete.length > 0" ng-model="deleteTracks" ng-click="deleteTracksNow()">
              Delete Tracks
            </button>
            <button type="button" class="edit_button btn btn-default" ng-show="queueSelected === 'adding' && tracksToAdd.length > 0" ng-model="addTracks" ng-click="addTracksNow()">
              Add Tracks
            </button>
          </div>
        </div>
      </div>
      <div ng-show="currentPlaylist !== ''" class="col-xs-9 playlist_table_smart">
        <!-- init sound manager! -->
        <!-- <sound-manager></sound-manager> -->
        <table st-safe-src="tracks" st-table="displayedTracks" class="table table-hover">
          <div class="row">
            <div sticky class="col-xs-3">
              <div class="spotify-player" ng-show="currentTrack !== ''">
                <iframe ng-src="{{currentTrack}}" width="200" height="80" frameborder="0" allowtransparency="true"></iframe>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-3">
                  <div>total tracks: <span style="color:#2d6">{{currentPlaylist.track_total}}</span></div>
                  <div>avg. track length: <span style="color:#2d6">{{millisToMinutesAndSeconds(total_track_length/currentPlaylist.track_total)}}</span></div>
                  <div>top artist: <span style="color:#2d6">{{topArtist(currentArtists)}}</span></div>
                </div>
                <div class="col-xs-6">
                  <div class="table-title">{{currentPlaylist.name}} </div>
                </div>
              </div>
            </div>
          </div>
          <thead>
            <tr>
              <th></th>   <!-- NOTE: intentionally left blank -->
              <th class="playlist-header" st-sort="name">
                <i class="glyphicon glyphicon-sort"> </i>
                <div class="table-header">song</div>
              </th>
              <th class="playlist-header" st-sort="artist">
                <i class="glyphicon glyphicon-sort"> </i>
                <div class="table-header">artist</div>
              </th>
              <th class="playlist-header" st-sort="added_by">
                <i class="glyphicon glyphicon-sort"> </i>
                <div class="table-header">user</div>
              </th>
              <th class="playlist-header" st-sort-default="reverse" st-sort="added">
                <i class="glyphicon glyphicon-sort"> </i>
                <div class="table-header">added</div>
              </th>
            </tr>
            <tr>
              <th colspan="6">
                <input st-search=" " class="form-control playlist-search" placeholder="search for any field" type="text"/>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr st-select-row="track" ng-repeat="track in displayedTracks" ng-click="trackSelected(track)" class="table-menu">
              <td>
                <!-- <i class="track-menu-option glyphicon glyphicon-play" music-player="play" add-song="track"></i> -->
                <!-- <i class="track-menu-option glyphicon glyphicon-pause" pause-music></i> -->
                <i class="track-menu-option glyphicon glyphicon-trash" ng-click="removeTrack(track)"> </i>
                <!-- <i class="track-menu-option glyphicon glyphicon-comment"> </i> -->
                <!-- <i class="track-menu-option flaticonNormal" ng-click="changeRating(track)" ng-class="{flaticonBad: track.rating == 0, flaticonNormal: track.rating == 1, flaticonGreat: track.rating == 2}"></i> -->
                <!-- <i class="track-menu-option save-changes glyphicon glyphicon-remove" ng-class="{'pending_deletion': track.edited}"></i> -->
              </td>
              <td>{{track.title}}</td>
              <td>{{track.artist}}</td>
              <td>{{track.added_by}}</td>
              <td>{{track.added | date:'shortDate'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
